*.png filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
c/include/foxglove-c/foxglove-c.h linguist-generated
c/src/generated_types.rs linguist-generated
cpp/foxglove/include/foxglove/schemas.hpp linguist-generated
cpp/foxglove/src/schemas.cpp linguist-generated
python/foxglove-sdk/python/foxglove/_foxglove_py/channels.pyi linguist-generated
python/foxglove-sdk/python/foxglove/_foxglove_py/schemas.pyi linguist-generated
python/foxglove-sdk/python/foxglove/channels/__init__.py linguist-generated
python/foxglove-sdk/python/foxglove/schemas/__init__.py linguist-generated
python/foxglove-sdk/src/generated/* linguist-generated
rust/foxglove/src/schemas/descriptors.rs linguist-generated
rust/foxglove/src/schemas/foxglove.rs linguist-generated
rust/foxglove/src/schemas/impls.rs linguist-generated
schemas/** linguist-generated
typescript/schemas/src/types/* linguist-generated
