---
WarningsAsErrors: "*"
UseColor: true
HeaderFilterRegex: "\\/include\\/foxglove\\/"
ExcludeHeaderFilterRegex: "expected\\.hpp"
Checks:
  - -*
  - clang-analyzer-*
  - bugprone-*
  - concurrency-*
  - cppcoreguidelines-*
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-pro-bounds-pointer-arithmetic
  - -cppcoreguidelines-pro-type-reinterpret-cast
  - hicpp-*
  - modernize-*
  - -modernize-use-trailing-return-type
  - performance-*
  - portability-*
  - readability-*
  - -readability-function-cognitive-complexity
  - -readability-identifier-length
  - -readability-magic-numbers

CheckOptions:
  # See discussion at https://stackoverflow.com/a/58845898/23649 & https://stackoverflow.com/a/78343833/23649
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: true
  # Naming
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassConstantCase: CamelCase
  readability-identifier-naming.ClassMemberCase: lower_case
  readability-identifier-naming.ClassMethodCase: camelBack
  readability-identifier-naming.ConceptCase: CamelCase
  readability-identifier-naming.ConstantCase: lower_case
  readability-identifier-naming.ConstantMemberCase: lower_case
  readability-identifier-naming.ConstantParameterCase: lower_case
  readability-identifier-naming.ConstantPointerParameterCase: lower_case
  readability-identifier-naming.ConstexprMethodCase: camelBack
  readability-identifier-naming.ConstexprVariableCase: lower_case
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumIgnoredRegexp: foxglove_error
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.MemberIgnoredRegexp: "^on[A-Z].*" # std::function members of callback struct
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.StaticVariableCase: lower_case
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
